.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  .modal__close {
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#fff, 0.7);
  }

  .modal__inner {
    width: 95%;
    height: 95%;
    position: fixed;
    top: 2.5%;
    left: 2.5%;
    background: $dark_blue;
    padding: vw(50px);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    @media (min-width: 1440px){
      padding: 50px;
    }

  }

  .modal__close-btn {
    cursor: pointer;
    background: none;
    box-shadow: none;
    border: none;
    position: absolute;
    right: 25px;
    top: 25px;
  }


  .modal-title {
    font-family: $font-bold;
    font-size: 4.5rem;
    margin-bottom: 1em;
  }
}



.modal-content {
  .te {
    max-width: 768px;
  }
  .save-actions {
    text-align: right;
  }
  &.explain {
    padding: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .modal-question, .modal-risks, .modal-actions {
      width: 100%;
      margin-bottom: 30px;
      @media (min-width: 768px){
        margin-bottom: vh(60px);
      }
      @media (min-width: 1024px) {
        width: 33%;
      }
      @media (min-width: 1440px) and (min-height: 900px){
        margin-bottom: 60px;
      }
      .modal-question-inner {
        @media (min-width: 900px){
          width: 95%;
        }
      }
    }
    .modal-left, .modal-right {
      margin-bottom: 30px;
      @media (min-width: 900px){
        width: 45%;
        margin: 0;
      }
    }
    .modal-riskRegister {
      width: 100%;
    }

    .modal-title {
      width: 100%;
    }
    .risk-form {
      border-bottom: 1px solid white;
      margin-bottom: 1em;
    }
    .form-element {
      &.inline {
        display: inline-block;
      }
      label {
        display: inline-block;
        width: 100%;
        font-size: 1.7rem;
        color: #fff;
        font-family: $font-bold;
        margin-bottom: 0.5em;
      }

      textarea {
        resize: none;
        display: inline-block;
        width: 100%;
        min-height: 200px;
        padding: 1em;
        box-shadow: -10px 10px 0px #178CFF;
        margin-bottom: 30px;
      }

      input {
        resize: none;
        display: inline-block;
        width: 100%;
        padding: 1em;
        box-shadow: -10px 10px 0px #178CFF;
        margin-bottom: 30px;
      }

      select {
        resize: none;
        display: inline-block;
        padding: 1em;
        box-shadow: -10px 10px 0px #178CFF;
        margin-bottom: 30px;
      }

    }

    .checkpoint-question {
      width: 100%;
      padding: 0;

      .options-label {
        margin-bottom: 1em;
      }

      .button {
        border-radius: 0 !important;
        cursor: none;
        &.red {
          background: $red;
          color: #fff;
        }
        &.green {
          background: $green;
          color: #fff;
        }
        &.amber {
          background: $amber;
          color: #fff;
        }
      }
    }
  }
}