.template-assessments-list {

  .delete {
    cursor: pointer;
    padding-left: 20px;
  }
  .template-columns {
    width: 100%;
    @media (min-width: 1200px){
      display: flex;
    }
    @media (min-width: 1680px){

    }


    .template-column {
      &-30 {
        margin-top: 3em;
        @media (min-width: 1200px){
          width: 35%;
          position: relative;
          right: vw(-100px);
        }
        @media (min-width: 1680px){
          right: -100px;
        }
      }
      &-70 {
        @media (min-width: 1200px){
          width: 70%;
        }
        @media (min-width: 1680px){

        }
      }
    }
  }
}
